/* _content/CheckApiWeb/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-x12c80niug] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-x12c80niug] {
  color: #0077cc;
}

.btn-primary[b-x12c80niug] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-x12c80niug], .nav-pills .show > .nav-link[b-x12c80niug] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-x12c80niug] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-x12c80niug] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-x12c80niug] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-x12c80niug] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-x12c80niug] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckApiWeb/Views/Shared/_Layout1.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-i38uv49zk1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-i38uv49zk1] {
  color: #0077cc;
}

.btn-primary[b-i38uv49zk1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-i38uv49zk1], .nav-pills .show > .nav-link[b-i38uv49zk1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-i38uv49zk1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-i38uv49zk1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-i38uv49zk1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-i38uv49zk1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-i38uv49zk1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckApiWeb/Views/Shared/_Layout2.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-utg6k46ui0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-utg6k46ui0] {
  color: #0077cc;
}

.btn-primary[b-utg6k46ui0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-utg6k46ui0], .nav-pills .show > .nav-link[b-utg6k46ui0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-utg6k46ui0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-utg6k46ui0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-utg6k46ui0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-utg6k46ui0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-utg6k46ui0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckApiWeb/Views/Shared/_Layout_admin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ch285dsxdz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ch285dsxdz] {
  color: #0077cc;
}

.btn-primary[b-ch285dsxdz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ch285dsxdz], .nav-pills .show > .nav-link[b-ch285dsxdz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ch285dsxdz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ch285dsxdz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ch285dsxdz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ch285dsxdz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ch285dsxdz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckApiWeb/Views/Shared/_Layout_admin_1.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xq8jlqoim5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xq8jlqoim5] {
  color: #0077cc;
}

.btn-primary[b-xq8jlqoim5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xq8jlqoim5], .nav-pills .show > .nav-link[b-xq8jlqoim5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xq8jlqoim5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xq8jlqoim5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xq8jlqoim5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xq8jlqoim5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xq8jlqoim5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
